.container {
    min-height: 100dvh;
    background-color: #0b0e14;
    color: #f8fafc;
}

.header {
    padding: 80px 24px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
{/*
연속되는 그라데이션 효과 : linear-gradient()
*/}
    background: linear-gradient(135deg, #ef4444 0%, #3b82f6 100%);
}

.title {
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
}

.content {
{/* 감싸주는 요소에게 굳이 패딩을 주는건 모바일 때문 */}
    padding: 48px 24px;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.loading {
    text-align: center;
    font-size: 1.2rem;
    color: #64748b;
}

.flexContainer {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}

.flexItem {
    width: calc((100% - 60px) / 3);
}